node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.swp
*.bak
.env
.env.gcp
.terraform/

*.tfstate
*.tfstate.*
.terraform.lock.hcl
coverage/
.system_generated/
scratch/
dist/
build/
